/* Reset and base styles */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea {
  outline: none;
}

button,
input[type="submit"] {
  outline: none;
  border: none;
}

button:hover,
input[type="submit"] {
  cursor: pointer;
  transform: translateY(-0.25em);
}
ul {
  list-style: none;
}

li,
a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.w-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.hero__section {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
}

/* Background video */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: 0;
  object-fit: cover;
  pointer-events: none;
}

/* Background overlay for fallback image and color */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header-logo img {
  max-width: 150px;
}

.header-nav ul {
  display: flex;
  gap: 20px;
}

.header-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: background-color 0.3s;
}

.header-nav ul li a:hover,
.header-nav ul li a.active,
.header-nav ul li a:focus,
.header-nav ul li a::active {
  border: 0.3px solid white;
}

/* Hero section */
.hero {
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
}

.hero h3 {
  font-size: 5rem;
  line-height: 1.2 !important;
}

.hero p {
  font-size: 1.5rem;
  line-height: 1.5 !important;
  margin-top: 50px;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: #c2bfbf;
  border: 0.5px solid #ccc;
  margin: 20px 0;
  opacity: 0.2;
}

.investment__section {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  width: 90%;
}

.investment__t,
.investment__b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.investment__t {
  margin-bottom: 50px;
}

.i__top__left,
.i__bottom__right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.i__top__left {
  margin-right: 80px;
}
.i__bottom__left {
  margin-right: 120px;
}

.i__top__left img,
.i__bottom__right img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.i__top__left h3,
.i__bottom__right h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}
.i__top__left p,
.i__bottom__right p {
  font-size: 22px;
  line-height: 1.5;
}
.i__top__left button,
.i__bottom__right button {
  text-align: start;
  background-image: linear-gradient(
    to right,
    #b16cea 20%,
    #ff5e69 60%,
    #ff8a56 80%,
    #ffa84b
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 24px;
}

.i__top__right,
.i__bottom__left {
  display: flex;
  flex: 1;
}

.i__top__right img,
.i__bottom__left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.artist__section {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.artist__t {
  position: relative;
  width: 70%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.3);
  padding: 100px 30px;
  color: #fff;
  gap: 50px;
  .artist__img {
    width: 100%;
    cursor: pointer;
    img {
      width: 100%;
      display: block;
      object-fit: cover;
      margin: 0 !important;
    }
    .divider {
      margin: 0 !important;
      background-color: #cccbcb !important;
      opacity: 0.6;
    }
  }
  .play__btn {
    position: absolute;
    top: 55%;
    left: 45%;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(
      to right,
      #b16cea 20%,
      #ff5e69 60%,
      #ff8a56 80%,
      #ffa84b
    );
    border-radius: 50%;
    border: 4px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
}
.artist__des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
  }
  .artist__more__des {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    div {
      display: flex;
      flex-direction: row;
      gap: 3px;
      align-items: center;
      justify-content: space-around;
      text-align: start;
      img {
        width: 24px;
        height: 24px;
        border-radius: 5px;
        margin-right: 1rem;
        filter: invert(1) grayscale(1) brightness(2);
        object-fit: cover;
      }
    }
  }
}
.artist__b {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: #eceaea;
  border-radius: 20px;
  height: 300px;
  padding: 10px 30px;
  p {
    color: #333;
    font-size: 1.5rem;
    font-weight: 900;
  }
  .artist__b__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 200px;
      display: block;
      object-fit: cover;
    }
  }
}

.future__section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 100px 20px 20px 20px;
  .coffee-table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0.5;
  }
  .future__section__wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    .future__t {
      z-index: 99999;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: start;
      justify-content: center;
      align-self: flex-start;
      h6 {
        font-size: 40px;
        font-weight: 500;
        span {
          font-weight: 900;
        }
      }
    }
    .future__m,
    .future__b {
      z-index: 99999;
      display: flex;
      align-items: center;
      justify-content: space-between;

      gap: 26px;
      img {
        width: 35px;
        height: 35px;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .top {
          display: flex;
          flex-direction: row;
          align-items: start;
          gap: 10px;
          p {
            font-size: 20px;
          }
        }
        p {
          font-size: 13px;
        }
      }
    }
    .future__b {
      z-index: 99999;
    }
  }
}

.journey__section {
  position: relative;
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.3);
  color: #fff;
  align-self: center;
  h3 {
    font-size: 70px;
    text-align: center;
    line-height: 1.2;
  }
  img {
    /* height: 100%; */
    display: block;
    object-fit: cover;
  }
  .camera {
    position: absolute;
    left: -200px;
    top: 70%;
  }
  .workstation {
    position: absolute;
    left: 25%;
    top: 50%;
  }
  .building {
    position: absolute;
    right: 15%;
    top: 110%;
    z-index: 1;
  }
  .phone {
    position: absolute;
    right: -50px;
    top: 65%;
  }
  .zigzag-1 {
    position: absolute;
    left: 100px;
    top: 180%;
  }
  .zigzag-2 {
    position: absolute;
    right: -20px;
    top: 150%;
  }
}

.contact__section {
  background-color: #eceaea;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  align-self: center;
  margin-top: 600px;
  border-radius: 10px;
  height: 200px;
  h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  div {
    display: flex;
    gap: 15px;
    input {
      outline: none;
      background-color: white;
      padding: 13px 20px;
      width: 300px;
      border-radius: 6px;
      border: 0.5px solid #dbd9d9;
      height: 50px;
      &::placeholder {
        font-size: 14px;
      }
      &:focus {
        border: 0.5px solid #000;
      }
    }
    button {
      padding: 13px 30px;
      font-size: 14px;
      border-radius: 6px;
      font-weight: 700;
      text-align: center;
      background-color: rgb(4, 165, 52);
      color: white;
      &:hover {
        background-color: rgba(1, 1, 10, 0.918);
      }
    }
  }
}
footer {
  background-color: #3e4346;
  color: #a0a0a0;
  width: 100%;
  display: flex;
  padding: 65px 0;
  justify-content: center;
  align-items: center;
  .f__wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: start;
    justify-content: center;
    gap: 20px;

    h4 {
      text-transform: uppercase;
      font-weight: 700;
      color: #fff !important;
      margin-bottom: 15px;
    }
    a {
      text-decoration: none !important;
      color: #a0a0a0 !important;
      font-size: 15px;
      font-weight: 500;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: start;
        img {
          height: 15px;
        }
      }
    }
    .top {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 50px;
      padding: 25px;
      border: 0.2px solid #3d3d3d;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.5);
      width: 100%;
      .about {
        display: flex;
        flex-direction: column;
        p {
          font-size: 14px;
          line-height: 2;
        }
      }
    }
    .bottom{
      background-color: #313438;
      border-radius: 4px;
      padding: 21px 21px 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      p{
        font-size: 12px;
        color: #a0a0a0;
      }
      div{
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          font-size: 12px;
          color: #a0a0a0;
        }
        a{
          font-size: 12px;
          color: #91959c;
          text-decoration: solid;
        }
      }
    }
  }
}
